<div >
    <h3 class="text-center">Change Password</h3>   
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" class="form-control" #Username="ngModel" [(ngModel)]="accService.currentUserId" 
        name="username" placeholder="Username" required="required" disabled>				
    </div>
    <form autocomplete="off" [formGroup]="changePasswordGroup">
      
		<div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" formControlName="NewPassword"
                name="new_password" placeholder="New Password" required="required">				
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" formControlName="ConfirmNewPassword"
                name="confirm_new_password" placeholder="Confirm New Password" required="required">				
            </div>
        </div>        
        <div class="form-group">
            <button class="btn btn-md btn-primary" (click)="changePassword()">Change Password</button>
        </div>
    </form>
</div>