<form [formGroup]="areaForm"  (ngSubmit)="onSubmit()">
    <div >
        <div class="form-group" >
            <label>Area ID</label>
            <input name="AreaID" formControlName="AreaID" 
            (input)="onChangedData()" class="form-control">
            <span 
              *ngIf="!areaForm.get('AreaID').valid && areaForm.get('AreaID').touched"
              class="help-block">Please fill this field.</span>
        </div>
        <div class="form-group">
            <label>Area Name</label>
            <input name="AreaName" formControlName="AreaName"  class="form-control">
            <span 
              *ngIf="!areaForm.get('AreaName').valid && areaForm.get('AreaName').touched"
              class="help-block">Please fill this field.</span>
        </div>
        
        <!-- <div class="form-group">
            <label>Regional</label>
            <input name="Regional" formControlName="Regional" class="form-control">
        </div> -->
        
        <div class="form-group">
            <label>Regional</label>
            <select class="form-control" formControlName="Regional"
            name="Regional" 
            >
                <option *ngFor="let region of areaService.regionalList" [ngValue]="region">{{region}}</option>
          </select>
        <!-- <input name="Division" #Division="ngModel" [(ngModel)]="empService.formDataGet.Division"  class="form-control" required> -->
        </div>
        <div class="form-group">
            <label>District</label>
            <input name="District" formControlName="District" class="form-control">
        </div>
        </div>
        <button class="btn btn-success" type="submit">Save Data</button>
        
</form>